.button{
    background: #0677f8;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0  auto;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.button:hover{
    background: #023e83;
}